alembic : INFO  [alembic.runtime.migration] Context impl 
PostgresqlImpl.
At line:1 char:1
+ alembic upgrade head --sql > migration_complete.sql 2>&1 ; 
Write-Host ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (INFO  [alembic. 
   ...PostgresqlImpl.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional 
DDL.
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

INFO  [alembic.runtime.migration] Running upgrade  -> 
1a2b3c4d5e6f_add_advance_payment_percentage_to_space, Add 
advance_payment_percentage column to spaces.
-- Running upgrade  -> 1a2b3c4d5e6f_add_advance_payment_percentage_to_space

ALTER TABLE spaces
        ADD COLUMN IF NOT EXISTS advance_payment_percentage NUMERIC(5, 2) DEFAULT NULL;;

INSERT INTO alembic_version (version_num) VALUES ('1a2b3c4d5e6f_add_advance_payment_percentage_to_space') RETURNING alembic_version.version_num;

-- Running upgrade 1a2b3c4d5e6f_add_advance_payment_percentage_to_space -> 20251109_add_order_id_column_payments

INFO  [alembic.runtime.migration] Running upgrade 
1a2b3c4d5e6f_add_advance_payment_percentage_to_space -> 
20251109_add_order_id_column_payments, Add missing order_id 
column to payments if absent.
ALTER TABLE payments
        ADD COLUMN IF NOT EXISTS order_id VARCHAR(100) DEFAULT NULL,
        ADD COLUMN IF NOT EXISTS currency VARCHAR(8) DEFAULT NULL,
        ADD COLUMN IF NOT EXISTS updated_at TIMESTAMP DEFAULT NULL,
        ADD COLUMN IF NOT EXISTS details JSONB DEFAULT NULL,
        ADD COLUMN IF NOT EXISTS gateway_response JSONB DEFAULT NULL;;

UPDATE alembic_version SET version_num='20251109_add_order_id_column_payments' WHERE alembic_version.version_num = '1a2b3c4d5e6f_add_advance_payment_percentage_to_space';

-- Running upgrade 20251109_add_order_id_column_payments -> 20251225164411

INFO  [alembic.runtime.migration] Running upgrade 
20251109_add_order_id_column_payments -> 20251225164411, 
initial_schema - Convert MySQL dump to PostgreSQL
CREATE TABLE admin_settings (
        id INTEGER NOT NULL,
        setting_key VARCHAR(100) NOT NULL,
        value TEXT DEFAULT null,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE attendance (
        id INTEGER NOT NULL,
        staff_id INTEGER NOT NULL,
        attendance_date DATE NOT NULL,
        check_in_time TIMESTAMP DEFAULT null,
        check_out_time TIMESTAMP DEFAULT null,
        total_hours NUMERIC DEFAULT null,
        overtime_hours NUMERIC DEFAULT 0,
        check_in_latitude NUMERIC DEFAULT null,
        check_in_longitude NUMERIC DEFAULT null,
        check_out_latitude NUMERIC DEFAULT null,
        check_out_longitude NUMERIC DEFAULT null,
        check_in_device_type VARCHAR(50) DEFAULT null,
        check_in_ip_address VARCHAR(45) DEFAULT null,
        check_out_device_type VARCHAR(50) DEFAULT null,
        check_out_ip_address VARCHAR(45) DEFAULT null,
        status VARCHAR(20) NOT NULL DEFAULT 'present',
        is_manual BOOLEAN DEFAULT 0,
        manual_correction_note TEXT DEFAULT null,
        corrected_by_user_id INTEGER DEFAULT null,
        corrected_at TIMESTAMP DEFAULT null,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE attendance_otps (
        id INTEGER NOT NULL,
        staff_id INTEGER NOT NULL,
        otp VARCHAR(10) NOT NULL,
        status VARCHAR(20) DEFAULT 'valid',
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        expires_at TIMESTAMP NOT NULL,
        used_at TIMESTAMP DEFAULT null,
        wrong_attempts INTEGER DEFAULT 0,
        blocked_until TIMESTAMP DEFAULT null
    );;

CREATE TABLE bookings (
        id INTEGER NOT NULL,
        booking_reference VARCHAR(64) NOT NULL,
        series_reference VARCHAR(64) DEFAULT null,
        user_id INTEGER NOT NULL,
        broker_id INTEGER DEFAULT null,
        venue_id INTEGER NOT NULL,
        space_id INTEGER NOT NULL,
        start_datetime TIMESTAMP NOT NULL,
        end_datetime TIMESTAMP NOT NULL,
        attendees INTEGER DEFAULT null,
        status VARCHAR(32) NOT NULL,
        total_amount NUMERIC NOT NULL,
        brokerage_amount NUMERIC DEFAULT 0,
        admin_note TEXT DEFAULT null,
        customer_note TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL,
        booking_type VARCHAR(20) NOT NULL DEFAULT 'one_day',
        event_type VARCHAR(50) DEFAULT null,
        event_name VARCHAR(255) DEFAULT null,
        is_admin_booking BOOLEAN DEFAULT 0,
        transport_location VARCHAR(255) DEFAULT null,
        transport_amount NUMERIC DEFAULT null,
        transport_estimate NUMERIC DEFAULT null,
        banner_image_url VARCHAR(500) DEFAULT null,
        banner_size VARCHAR(50) DEFAULT null,
        banner_amount NUMERIC DEFAULT null,
        stage_banner_url TEXT DEFAULT null,
        broker_settled BOOLEAN NOT NULL DEFAULT 0,
        broker_settled_at TIMESTAMP DEFAULT null,
        broker_settled_by_user_id INTEGER DEFAULT null,
        admin_viewed_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE booking_events (
        id INTEGER NOT NULL,
        booking_id INTEGER NOT NULL,
        actor_user_id INTEGER DEFAULT null,
        from_status VARCHAR(64) DEFAULT null,
        to_status VARCHAR(64) DEFAULT null,
        note TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE booking_guests (
        id INTEGER NOT NULL,
        booking_id INTEGER NOT NULL,
        name VARCHAR(255) NOT NULL,
        mobile VARCHAR(15) NOT NULL,
        pickup_location VARCHAR(500) DEFAULT null,
        needs_transportation BOOLEAN NOT NULL,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL
    );;

CREATE TABLE booking_items (
        id INTEGER NOT NULL,
        booking_id INTEGER NOT NULL,
        item_id INTEGER NOT NULL,
        vendor_id INTEGER DEFAULT null,
        quantity INTEGER NOT NULL,
        hours_used NUMERIC(10,2) DEFAULT null,
        unit_price NUMERIC NOT NULL,
        total_price NUMERIC NOT NULL,
        created_at TIMESTAMP NOT NULL,
        event_date DATE DEFAULT null,
        booking_status VARCHAR(32) DEFAULT null,
        is_supplyed BOOLEAN NOT NULL DEFAULT 0,
        is_supplies BOOLEAN DEFAULT 0,
        rejection_status BOOLEAN NOT NULL DEFAULT 0,
        rejection_note TEXT DEFAULT null,
        rejected_at TIMESTAMP DEFAULT null,
        supplied_at TIMESTAMP DEFAULT null,
        supply_verified BOOLEAN NOT NULL DEFAULT 0,
        verified_at TIMESTAMP DEFAULT null,
        accepted_at TIMESTAMP DEFAULT null,
        supply_reminder_sent_at TIMESTAMP DEFAULT null,
        payment_settled BOOLEAN NOT NULL DEFAULT 0,
        payment_settled_at TIMESTAMP DEFAULT null,
        payment_settled_by_user_id BIGINT(20) DEFAULT null
    );;

CREATE TABLE booking_item_rejections (
        id INTEGER NOT NULL,
        booking_item_id INTEGER NOT NULL,
        vendor_id INTEGER NOT NULL,
        rejection_note TEXT DEFAULT null,
        rejected_at TIMESTAMP NOT NULL
    );;

CREATE TABLE booking_item_status_history (
        id INTEGER NOT NULL,
        booking_item_id INTEGER DEFAULT null,
        old_status VARCHAR(50) DEFAULT null,
        new_status VARCHAR(50) NOT NULL,
        changed_by_user_id INTEGER NOT NULL,
        changed_by_role VARCHAR(50) NOT NULL,
        reason TEXT DEFAULT null,
        notes TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE broker_profiles (
        id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        company_name VARCHAR(255) DEFAULT null,
        description TEXT DEFAULT null,
        contact_email VARCHAR(255) DEFAULT null,
        contact_phone VARCHAR(64) DEFAULT null,
        address TEXT DEFAULT null,
        brokerage_percentage NUMERIC NOT NULL,
        bank_account_name VARCHAR(255) DEFAULT null,
        bank_account_number VARCHAR(64) DEFAULT null,
        bank_ifsc_code VARCHAR(16) DEFAULT null,
        bank_name VARCHAR(255) DEFAULT null,
        is_approved BOOLEAN NOT NULL,
        suspended_until TIMESTAMP DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL
    );;

CREATE TABLE client_activity_log (
        id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        action VARCHAR(100) NOT NULL,
        entity_type VARCHAR(50) DEFAULT null,
        entity_id INTEGER DEFAULT null,
        details TEXT DEFAULT null,
        ip_address VARCHAR(45) DEFAULT null,
        user_agent TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE client_audio_notes (
        id INTEGER NOT NULL,
        booking_id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        audio_file_path VARCHAR(500) NOT NULL,
        audio_duration_seconds INTEGER DEFAULT null,
        file_size_bytes INTEGER DEFAULT null,
        mime_type VARCHAR(50) NOT NULL,
        transcription TEXT DEFAULT null,
        status VARCHAR(20) NOT NULL,
        is_played_by_admin BOOLEAN NOT NULL,
        admin_notes TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        played_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE client_messages (
        id INTEGER NOT NULL,
        thread_id VARCHAR(100) NOT NULL,
        sender_id INTEGER NOT NULL,
        recipient_id INTEGER NOT NULL,
        subject VARCHAR(255) DEFAULT null,
        message TEXT NOT NULL,
        booking_id INTEGER DEFAULT null,
        parent_message_id INTEGER DEFAULT null,
        is_read BOOLEAN NOT NULL,
        is_deleted_by_sender BOOLEAN NOT NULL,
        is_deleted_by_recipient BOOLEAN NOT NULL,
        created_at TIMESTAMP NOT NULL,
        read_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE client_notifications (
        id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        type VARCHAR(50) NOT NULL,
        title VARCHAR(255) NOT NULL,
        message TEXT NOT NULL,
        booking_id INTEGER DEFAULT null,
        link VARCHAR(500) DEFAULT null,
        is_read BOOLEAN NOT NULL,
        is_deleted BOOLEAN NOT NULL,
        priority VARCHAR(20) NOT NULL,
        created_at TIMESTAMP NOT NULL,
        read_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE content_pages (
        id INTEGER NOT NULL,
        page_name VARCHAR(50) NOT NULL,
        title VARCHAR(200) NOT NULL,
        content TEXT NOT NULL,
        meta_description TEXT DEFAULT null,
        is_published BOOLEAN DEFAULT 1,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE contests (
        id INTEGER NOT NULL,
        title VARCHAR(200) NOT NULL,
        slug VARCHAR(100) NOT NULL,
        description TEXT DEFAULT null,
        hero_image_url VARCHAR(500) DEFAULT null,
        banner_image_url VARCHAR(500) DEFAULT null,
        start_date DATE NOT NULL,
        end_date DATE NOT NULL,
        applicable_event_types TEXT DEFAULT null,
        first_x_winners INTEGER DEFAULT null,
        eligibility_criteria TEXT DEFAULT null,
        per_user_limit INTEGER NOT NULL DEFAULT 1,
        auto_approve BOOLEAN NOT NULL DEFAULT 0,
        prizes TEXT DEFAULT null,
        is_published BOOLEAN NOT NULL DEFAULT 0,
        created_by_user_id INTEGER DEFAULT null,
        created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE contest_entries (
        id INTEGER NOT NULL,
        contest_id INTEGER NOT NULL,
        participant_name VARCHAR(200) NOT NULL,
        email VARCHAR(255) DEFAULT null,
        phone VARCHAR(32) DEFAULT null,
        event_type VARCHAR(50) NOT NULL,
        event_date DATE NOT NULL,
        relation VARCHAR(50) NOT NULL DEFAULT 'self',
        booking_id INTEGER DEFAULT null,
        message TEXT DEFAULT null,
        owner_email VARCHAR(255) DEFAULT null,
        owner_phone VARCHAR(32) DEFAULT null,
        status VARCHAR(50) NOT NULL DEFAULT 'pending',
        admin_note TEXT DEFAULT null,
        ocr_confidence NUMERIC DEFAULT null,
        ocr_date_matches BOOLEAN DEFAULT null,
        ocr_extracted_text TEXT DEFAULT null,
        reference_id VARCHAR(50) NOT NULL,
        ip_address VARCHAR(45) DEFAULT null,
        created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
        approved_at TIMESTAMP DEFAULT null,
        marked_winner_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE contest_entry_files (
        id INTEGER NOT NULL,
        entry_id INTEGER NOT NULL,
        file_url VARCHAR(500) NOT NULL,
        file_name VARCHAR(255) NOT NULL,
        file_type VARCHAR(50) NOT NULL,
        file_size INTEGER NOT NULL,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE contest_notifications (
        id INTEGER NOT NULL,
        entry_id INTEGER NOT NULL,
        channel VARCHAR(50) NOT NULL,
        recipient_email VARCHAR(255) DEFAULT null,
        recipient_phone VARCHAR(32) DEFAULT null,
        subject VARCHAR(255) DEFAULT null,
        message_body TEXT NOT NULL,
        provider_response TEXT DEFAULT null,
        status VARCHAR(50) NOT NULL DEFAULT 'pending',
        error_message TEXT DEFAULT null,
        sent_by_user_id INTEGER DEFAULT null,
        sent_at TIMESTAMP DEFAULT null,
        created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE coupons (
        id INTEGER NOT NULL,
        code VARCHAR(50) NOT NULL,
        title VARCHAR(200) NOT NULL,
        description TEXT DEFAULT null,
        is_active BOOLEAN NOT NULL DEFAULT 1,
        discount_type VARCHAR(16) NOT NULL,
        discount_value NUMERIC NOT NULL,
        min_purchase_amount NUMERIC DEFAULT null,
        max_discount_amount NUMERIC DEFAULT null,
        max_usage_per_user INTEGER DEFAULT null,
        max_usage_total INTEGER DEFAULT null,
        current_usage_count INTEGER NOT NULL DEFAULT 0,
        valid_from TIMESTAMP DEFAULT null,
        valid_until TIMESTAMP DEFAULT null,
        created_by_user_id INTEGER DEFAULT null,
        created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE coupon_usage (
        id INTEGER NOT NULL,
        coupon_id INTEGER NOT NULL,
        user_id INTEGER DEFAULT null,
        booking_id INTEGER DEFAULT null,
        discount_amount NUMERIC NOT NULL,
        original_amount NUMERIC NOT NULL,
        final_amount NUMERIC NOT NULL,
        used_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE customers (
        id INTEGER NOT NULL,
        user_id INTEGER DEFAULT null,
        name VARCHAR(200) NOT NULL,
        phone VARCHAR(32) DEFAULT null,
        email VARCHAR(255) DEFAULT null,
        address_line1 VARCHAR(255) DEFAULT null,
        address_line2 VARCHAR(255) DEFAULT null,
        city VARCHAR(100) DEFAULT null,
        state VARCHAR(100) DEFAULT null,
        postal_code VARCHAR(20) DEFAULT null,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE events (
        id INTEGER NOT NULL,
        title VARCHAR(200) NOT NULL,
        date_text VARCHAR(120) DEFAULT null,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE gallery_images (
        id INTEGER NOT NULL,
        filename VARCHAR(255) NOT NULL,
        filepath VARCHAR(500) NOT NULL,
        title VARCHAR(255) DEFAULT null,
        description TEXT DEFAULT null,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        media_type VARCHAR(10) NOT NULL DEFAULT 'image'
    );;

CREATE TABLE invoice_edits (
        id INTEGER NOT NULL,
        booking_id INTEGER NOT NULL,
        invoice_number VARCHAR(100) DEFAULT null,
        invoice_date VARCHAR(50) DEFAULT null,
        customer_name VARCHAR(255) DEFAULT null,
        gst_rate NUMERIC DEFAULT null,
        brokerage_amount NUMERIC DEFAULT null,
        notes TEXT DEFAULT null,
        items TEXT DEFAULT null,
        edited_by_user_id INTEGER DEFAULT null,
        created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE items (
        id INTEGER NOT NULL,
        vendor_id INTEGER DEFAULT null,
        main_category VARCHAR(64) DEFAULT null,
        name VARCHAR(255) NOT NULL,
        description TEXT DEFAULT null,
        price NUMERIC NOT NULL,
        base_hours_included INTEGER DEFAULT null,
        rate_per_extra_hour NUMERIC(10,2) DEFAULT null,
        is_eligible_for_space_offer BOOLEAN DEFAULT 0,
        vendor_price NUMERIC(10,2) DEFAULT 0.00,
        admin_markup_percent NUMERIC(5,2) DEFAULT 0.00,
        available BOOLEAN NOT NULL,
        preparation_time_minutes INTEGER DEFAULT 0,
        item_status VARCHAR(32) DEFAULT 'available',
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP DEFAULT null,
        category VARCHAR(64) DEFAULT null,
        subcategory VARCHAR(64) DEFAULT null,
        type VARCHAR(32) DEFAULT null,
        image_url VARCHAR(500) DEFAULT null,
        video_url VARCHAR(500) DEFAULT null,
        profile_image_url VARCHAR(500) DEFAULT null,
        profile_info TEXT DEFAULT null,
        performance_team_profile TEXT DEFAULT null,
        space_id INTEGER DEFAULT null
    );;

CREATE TABLE item_media (
        id INTEGER NOT NULL,
        item_id INTEGER NOT NULL,
        media_type VARCHAR(10) NOT NULL,
        file_path VARCHAR(500) NOT NULL,
        file_url VARCHAR(500) NOT NULL,
        is_primary BOOLEAN NOT NULL,
        display_order INTEGER NOT NULL,
        title VARCHAR(255) DEFAULT null,
        description TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE leaves (
        id INTEGER NOT NULL,
        staff_id INTEGER NOT NULL,
        leave_type VARCHAR(50) NOT NULL,
        start_date DATE NOT NULL,
        end_date DATE NOT NULL,
        total_days NUMERIC NOT NULL,
        reason TEXT DEFAULT null,
        status VARCHAR(20) DEFAULT 'pending',
        approved_by_user_id INTEGER DEFAULT null,
        approved_at TIMESTAMP DEFAULT null,
        rejection_reason TEXT DEFAULT null,
        applied_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE notifications (
        id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        title VARCHAR(255) NOT NULL,
        message TEXT NOT NULL,
        booking_id INTEGER DEFAULT null,
        is_read BOOLEAN DEFAULT 0,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE offers (
        id INTEGER NOT NULL,
        offer_type VARCHAR(32) NOT NULL,
        title VARCHAR(200) NOT NULL,
        description TEXT DEFAULT null,
        is_active BOOLEAN NOT NULL DEFAULT 1,
        priority INTEGER NOT NULL DEFAULT 0,
        discount_type VARCHAR(16) NOT NULL,
        discount_value NUMERIC NOT NULL,
        min_purchase_amount NUMERIC DEFAULT null,
        max_discount_amount NUMERIC DEFAULT null,
        festival_name VARCHAR(200) DEFAULT null,
        start_date DATE DEFAULT null,
        end_date DATE DEFAULT null,
        number_of_users INTEGER DEFAULT null,
        claimed_count INTEGER NOT NULL DEFAULT 0,
        created_by_user_id INTEGER DEFAULT null,
        created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
        surprise_gift_name VARCHAR(200) DEFAULT null,
        surprise_gift_image_url VARCHAR(500) DEFAULT null,
        rack_id INTEGER DEFAULT null,
        product_id INTEGER DEFAULT null
    );;

CREATE TABLE offer_notifications (
        id INTEGER NOT NULL,
        offer_id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        whatsapp_sent BOOLEAN DEFAULT 0,
        sms_sent BOOLEAN DEFAULT 0,
        email_sent BOOLEAN DEFAULT 0,
        notified_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        notified_by_user_id INTEGER DEFAULT null
    );;

CREATE TABLE offer_usage (
        id INTEGER NOT NULL,
        offer_id INTEGER NOT NULL,
        user_id INTEGER DEFAULT null,
        booking_id INTEGER DEFAULT null,
        discount_amount NUMERIC NOT NULL,
        original_amount NUMERIC NOT NULL,
        final_amount NUMERIC NOT NULL,
        used_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE offices (
        id INTEGER NOT NULL,
        name VARCHAR(255) NOT NULL,
        qr_id VARCHAR(100) NOT NULL,
        latitude NUMERIC NOT NULL,
        longitude NUMERIC NOT NULL,
        allowed_radius NUMERIC DEFAULT 100,
        is_active BOOLEAN DEFAULT 1,
        qr_generated_at TIMESTAMP DEFAULT null,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        created_by_user_id INTEGER DEFAULT null
    );;

CREATE TABLE page_content (
        id INTEGER NOT NULL,
        slug VARCHAR(120) NOT NULL,
        title VARCHAR(255) DEFAULT null,
        body_html TEXT DEFAULT null,
        updated_at TIMESTAMP NOT NULL
    );;

CREATE TABLE payments (
        id INTEGER NOT NULL,
        booking_id INTEGER DEFAULT null,
        amount NUMERIC NOT NULL,
        currency VARCHAR(8) NOT NULL,
        provider VARCHAR(100) DEFAULT null,
        provider_payment_id VARCHAR(255) DEFAULT null,
        order_id VARCHAR(255) DEFAULT null,
        status VARCHAR(32) NOT NULL,
        paid_at TIMESTAMP DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP DEFAULT null,
        details TEXT DEFAULT null,
        gateway_response TEXT DEFAULT null
    );;

CREATE TABLE payroll (
        id INTEGER NOT NULL,
        staff_id INTEGER NOT NULL,
        month INTEGER NOT NULL,
        year INTEGER NOT NULL,
        period_start DATE NOT NULL,
        period_end DATE NOT NULL,
        total_working_days INTEGER NOT NULL,
        present_days NUMERIC NOT NULL,
        absent_days NUMERIC DEFAULT 0,
        leave_days NUMERIC DEFAULT 0,
        unpaid_leave_days NUMERIC DEFAULT 0,
        half_days NUMERIC DEFAULT 0,
        holidays INTEGER DEFAULT 0,
        total_hours NUMERIC DEFAULT null,
        overtime_hours NUMERIC DEFAULT 0,
        basic_salary NUMERIC NOT NULL,
        calculated_salary NUMERIC NOT NULL,
        total_allowances NUMERIC DEFAULT 0,
        overtime_pay NUMERIC DEFAULT 0,
        total_deductions NUMERIC DEFAULT 0,
        leave_deductions NUMERIC DEFAULT 0,
        net_salary NUMERIC NOT NULL,
        allowances_breakdown TEXT DEFAULT null,
        deductions_breakdown TEXT DEFAULT null,
        status VARCHAR(20) DEFAULT 'draft',
        is_locked BOOLEAN DEFAULT 0,
        salary_slip_url VARCHAR(500) DEFAULT null,
        processed_by_user_id INTEGER DEFAULT null,
        processed_at TIMESTAMP DEFAULT null,
        locked_at TIMESTAMP DEFAULT null,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE programs (
        id INTEGER NOT NULL,
        title VARCHAR(200) NOT NULL,
        description TEXT DEFAULT null,
        schedule VARCHAR(160) DEFAULT null,
        price NUMERIC DEFAULT null,
        status VARCHAR(32) NOT NULL,
        program_type VARCHAR(50) DEFAULT null,
        poster_url VARCHAR(300) DEFAULT null,
        event_id INTEGER DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL,
        start_time VARCHAR(8) DEFAULT null,
        end_time VARCHAR(8) DEFAULT null,
        daily_fee NUMERIC DEFAULT 0,
        monthly_fee NUMERIC DEFAULT 0,
        overall_start_date TIMESTAMP DEFAULT null,
        overall_end_date TIMESTAMP DEFAULT null,
        series_reference VARCHAR(64) DEFAULT null
    );;

CREATE TABLE program_participants (
        id INTEGER NOT NULL,
        user_id INTEGER DEFAULT null,
        name VARCHAR(120) NOT NULL,
        mobile VARCHAR(32) NOT NULL,
        program_type VARCHAR(16) NOT NULL,
        joined_at TIMESTAMP NOT NULL,
        subscription_type VARCHAR(16) DEFAULT null,
        start_date TIMESTAMP DEFAULT null,
        end_date TIMESTAMP DEFAULT null,
        amount_paid NUMERIC DEFAULT null,
        is_active BOOLEAN DEFAULT 1,
        ticket_quantity INTEGER DEFAULT 1,
        is_verified BOOLEAN DEFAULT 0,
        verified_at TIMESTAMP DEFAULT null,
        booking_id INTEGER DEFAULT null,
        scan_count INTEGER NOT NULL DEFAULT 0
    );;

CREATE TABLE racks (
        id INTEGER NOT NULL,
        venue_id INTEGER DEFAULT null,
        code VARCHAR(64) NOT NULL,
        name VARCHAR(200) NOT NULL,
        location VARCHAR(255) DEFAULT null,
        description TEXT DEFAULT null,
        active BOOLEAN NOT NULL,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL,
        category_name VARCHAR(255) DEFAULT null,
        category_image_url VARCHAR(500) DEFAULT null,
        qr_code_url VARCHAR(500) DEFAULT null,
        metadata TEXT DEFAULT null
    );;

CREATE TABLE rack_items (
        id INTEGER NOT NULL,
        rack_id INTEGER NOT NULL,
        item_id INTEGER NOT NULL,
        stock INTEGER DEFAULT null,
        sort_order INTEGER NOT NULL,
        active BOOLEAN NOT NULL,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE rack_orders (
        id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        rack_id INTEGER DEFAULT null,
        order_reference VARCHAR(50) NOT NULL,
        total_amount NUMERIC(10,2) NOT NULL DEFAULT 0.00,
        original_amount NUMERIC(10,2) NOT NULL DEFAULT 0.00,
        items_json TEXT NOT NULL,
        applied_offer_id INTEGER DEFAULT null,
        discount_amount NUMERIC(10,2) DEFAULT 0.00,
        is_surprise_gift BOOLEAN DEFAULT 0,
        recipient_name VARCHAR(200) DEFAULT null,
        recipient_mobile VARCHAR(20) DEFAULT null,
        delivery_address TEXT DEFAULT null,
        pin_code VARCHAR(10) DEFAULT null,
        city VARCHAR(100) DEFAULT null,
        state VARCHAR(100) DEFAULT null,
        occasion_type VARCHAR(50) DEFAULT null,
        birthday_date DATE DEFAULT null,
        personal_message TEXT DEFAULT null,
        payment_id VARCHAR(100) DEFAULT null,
        payment_status VARCHAR(50) DEFAULT 'pending',
        status VARCHAR(50) DEFAULT 'pending',
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE rack_order_items (
        id INTEGER NOT NULL,
        rack_order_id INTEGER NOT NULL,
        product_id INTEGER DEFAULT null,
        product_name VARCHAR(255) NOT NULL,
        quantity INTEGER NOT NULL DEFAULT 1,
        unit_price NUMERIC(10,2) NOT NULL,
        subtotal NUMERIC(10,2) NOT NULL,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE rack_products (
        id INTEGER NOT NULL,
        rack_id INTEGER NOT NULL,
        name VARCHAR(255) NOT NULL,
        description TEXT DEFAULT null,
        image_url VARCHAR(500) DEFAULT null,
        images_json TEXT DEFAULT null,
        videos_json TEXT DEFAULT null,
        price NUMERIC NOT NULL,
        stock_quantity INTEGER NOT NULL,
        delivery_time VARCHAR(100) DEFAULT null,
        category VARCHAR(100) DEFAULT null,
        status VARCHAR(32) NOT NULL,
        metadata TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL
    );;

CREATE TABLE refunds (
        id INTEGER NOT NULL,
        booking_id INTEGER NOT NULL,
        amount NUMERIC NOT NULL,
        reason TEXT DEFAULT null,
        status VARCHAR(32) NOT NULL,
        refund_type VARCHAR(32) DEFAULT null,
        refund_method VARCHAR(64) DEFAULT null,
        refund_reference VARCHAR(255) DEFAULT null,
        processed_at TIMESTAMP DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP DEFAULT null,
        notes TEXT DEFAULT null,
        created_by_user_id INTEGER DEFAULT null
    );;

CREATE TABLE regular_programs (
        id INTEGER NOT NULL,
        series_reference VARCHAR(64) NOT NULL,
        user_id INTEGER NOT NULL,
        space_id INTEGER NOT NULL,
        title VARCHAR(200) NOT NULL,
        daily_fee NUMERIC NOT NULL,
        monthly_fee NUMERIC NOT NULL,
        start_datetime TIMESTAMP NOT NULL,
        end_datetime TIMESTAMP NOT NULL,
        banner_image_url TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL
    );;

CREATE TABLE shop_orders (
        id INTEGER NOT NULL,
        customer_id INTEGER DEFAULT null,
        rack_id INTEGER DEFAULT null,
        status VARCHAR(32) NOT NULL,
        currency VARCHAR(8) NOT NULL,
        total_amount NUMERIC NOT NULL,
        details TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL
    );;

CREATE TABLE shop_order_items (
        id INTEGER NOT NULL,
        order_id INTEGER NOT NULL,
        item_id INTEGER NOT NULL,
        quantity INTEGER NOT NULL,
        unit_price NUMERIC NOT NULL,
        total_price NUMERIC NOT NULL,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE spaces (
        id INTEGER NOT NULL,
        venue_id INTEGER NOT NULL,
        name VARCHAR(200) NOT NULL,
        capacity INTEGER NOT NULL,
        price_per_hour NUMERIC NOT NULL,
        features TEXT DEFAULT null,
        active BOOLEAN NOT NULL,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL,
        description TEXT DEFAULT null,
        image_url VARCHAR(500) DEFAULT null,
        event_types TEXT DEFAULT null,
        stage_options TEXT DEFAULT null,
        banner_sizes TEXT DEFAULT null,
        pricing_overrides TEXT DEFAULT null
    );;

CREATE TABLE staff (
        id INTEGER NOT NULL,
        employee_code VARCHAR(50) NOT NULL,
        user_id INTEGER DEFAULT null,
        first_name VARCHAR(120) NOT NULL,
        last_name VARCHAR(120) NOT NULL,
        name VARCHAR(255) DEFAULT null,
        email VARCHAR(255) NOT NULL,
        phone VARCHAR(32) NOT NULL,
        date_of_birth DATE DEFAULT null,
        address TEXT DEFAULT null,
        aadhar_number VARCHAR(20) DEFAULT null,
        pan_number VARCHAR(20) DEFAULT null,
        emergency_contact_name VARCHAR(120) DEFAULT null,
        emergency_contact_phone VARCHAR(32) DEFAULT null,
        emergency_contact_relation VARCHAR(50) DEFAULT null,
        role VARCHAR(100) NOT NULL,
        department VARCHAR(100) NOT NULL,
        salary_type VARCHAR(20) NOT NULL DEFAULT 'monthly',
        fixed_salary NUMERIC DEFAULT null,
        hourly_wage NUMERIC DEFAULT null,
        joining_date DATE NOT NULL,
        allowances TEXT DEFAULT null,
        deductions TEXT DEFAULT null,
        is_active BOOLEAN DEFAULT 1,
        photo_url VARCHAR(500) DEFAULT null,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        created_by_user_id INTEGER DEFAULT null
    );;

CREATE TABLE staff_documents (
        id INTEGER NOT NULL,
        staff_id INTEGER NOT NULL,
        document_type VARCHAR(50) NOT NULL,
        file_name VARCHAR(255) NOT NULL,
        file_path VARCHAR(500) NOT NULL,
        file_url VARCHAR(500) NOT NULL,
        file_size INTEGER DEFAULT null,
        mime_type VARCHAR(100) DEFAULT null,
        description TEXT DEFAULT null,
        uploaded_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
        uploaded_by_user_id INTEGER DEFAULT null
    );;

CREATE TABLE timeslots (
        id INTEGER NOT NULL,
        space_id INTEGER NOT NULL,
        label VARCHAR(120) DEFAULT null,
        start_time VARCHAR(8) NOT NULL,
        end_time VARCHAR(8) NOT NULL,
        price_modifier NUMERIC DEFAULT null,
        active BOOLEAN NOT NULL
    );;

CREATE TABLE users (
        id INTEGER NOT NULL,
        username VARCHAR(100) NOT NULL,
        password_hash VARCHAR(255) NOT NULL,
        role VARCHAR(32) NOT NULL,
        date_of_birth DATE DEFAULT null,
        suspended_until TIMESTAMP DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        first_name VARCHAR(120) DEFAULT null,
        last_name VARCHAR(120) DEFAULT null,
        mobile VARCHAR(32) DEFAULT null,
        email VARCHAR(255) DEFAULT null,
        profile_image TEXT DEFAULT null,
        last_login_time TIMESTAMP DEFAULT null,
        last_logout_time TIMESTAMP DEFAULT null,
        profile_picture TEXT DEFAULT null,
        admin_viewed_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE user_event_dates (
        id INTEGER NOT NULL,
        email VARCHAR(255) DEFAULT null,
        phone VARCHAR(32) DEFAULT null,
        person_name VARCHAR(200) NOT NULL,
        event_type VARCHAR(50) NOT NULL,
        event_date DATE NOT NULL,
        relation VARCHAR(50) NOT NULL DEFAULT 'family',
        notify_on_offers BOOLEAN NOT NULL DEFAULT 1,
        created_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
        updated_at TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
    );;

CREATE TABLE vehicles (
        id INTEGER NOT NULL,
        vehicle_name VARCHAR(100) NOT NULL,
        vendor_id INTEGER DEFAULT null,
        vehicle_capacity INTEGER NOT NULL,
        base_fare NUMERIC(10,2) NOT NULL,
        per_km_rate NUMERIC(10,2) NOT NULL,
        minimum_km INTEGER DEFAULT null,
        vehicle_image TEXT DEFAULT null,
        extra_charges NUMERIC(10,2) DEFAULT null,
        waiting_charges_per_hour NUMERIC(10,2) DEFAULT null,
        night_charges NUMERIC(10,2) DEFAULT null,
        peak_hour_multiplier NUMERIC(3,2) DEFAULT null,
        description TEXT DEFAULT null,
        is_active BOOLEAN DEFAULT null,
        created_at TIMESTAMP DEFAULT null,
        updated_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE vehicle_bookings (
        id INTEGER NOT NULL,
        booking_id INTEGER NOT NULL,
        vehicle_id INTEGER NOT NULL,
        number_of_guests INTEGER NOT NULL,
        guest_contact_number VARCHAR(15) NOT NULL,
        pickup_location TEXT NOT NULL,
        drop_location TEXT DEFAULT null,
        estimated_distance_km NUMERIC(10,2) DEFAULT null,
        base_fare NUMERIC(10,2) NOT NULL,
        per_km_rate NUMERIC(10,2) NOT NULL,
        calculated_cost NUMERIC(10,2) NOT NULL,
        extra_charges NUMERIC(10,2) DEFAULT null,
        total_amount NUMERIC(10,2) NOT NULL,
        booking_status VARCHAR(50) DEFAULT null,
        driver_assigned VARCHAR(100) DEFAULT null,
        notes TEXT DEFAULT null,
        created_at TIMESTAMP DEFAULT null,
        updated_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE vendor_activity_log (
        id INTEGER NOT NULL,
        vendor_user_id INTEGER NOT NULL,
        action VARCHAR(100) NOT NULL,
        entity_type VARCHAR(50) DEFAULT null,
        entity_id INTEGER DEFAULT null,
        details TEXT DEFAULT null,
        ip_address VARCHAR(45) DEFAULT null,
        user_agent TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE vendor_messages (
        id INTEGER NOT NULL,
        thread_id VARCHAR(100) NOT NULL,
        sender_id INTEGER NOT NULL,
        recipient_id INTEGER NOT NULL,
        subject VARCHAR(255) DEFAULT null,
        message TEXT NOT NULL,
        booking_id INTEGER DEFAULT null,
        booking_item_id INTEGER DEFAULT null,
        parent_message_id INTEGER DEFAULT null,
        is_read BOOLEAN NOT NULL,
        is_deleted_by_sender BOOLEAN NOT NULL,
        is_deleted_by_recipient BOOLEAN NOT NULL,
        created_at TIMESTAMP NOT NULL,
        read_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE vendor_notifications (
        id INTEGER NOT NULL,
        vendor_user_id INTEGER NOT NULL,
        type VARCHAR(50) NOT NULL,
        title VARCHAR(255) NOT NULL,
        message TEXT NOT NULL,
        booking_id INTEGER DEFAULT null,
        booking_item_id INTEGER DEFAULT null,
        link VARCHAR(500) DEFAULT null,
        is_read BOOLEAN NOT NULL,
        is_deleted BOOLEAN NOT NULL,
        priority VARCHAR(20) NOT NULL,
        created_at TIMESTAMP NOT NULL,
        read_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE vendor_profiles (
        id INTEGER NOT NULL,
        user_id INTEGER NOT NULL,
        company_name VARCHAR(255) DEFAULT null,
        description TEXT DEFAULT null,
        contact_email VARCHAR(255) DEFAULT null,
        contact_phone VARCHAR(64) DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL,
        address TEXT DEFAULT null,
        suspended_until TIMESTAMP DEFAULT null
    );;

CREATE TABLE venues (
        id INTEGER NOT NULL,
        name VARCHAR(255) NOT NULL,
        address TEXT DEFAULT null,
        city VARCHAR(100) DEFAULT null,
        timezone VARCHAR(80) DEFAULT null,
        metadata_json TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL
    );;

CREATE TABLE whatsapp_conversations (
        id INTEGER NOT NULL,
        user_id INTEGER DEFAULT null,
        phone_number VARCHAR(32) NOT NULL,
        session_id VARCHAR(255) DEFAULT null,
        status VARCHAR(32) NOT NULL,
        last_message_at TIMESTAMP DEFAULT null,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL
    );;

CREATE TABLE whatsapp_keyword_responses (
        id INTEGER NOT NULL,
        keywords VARCHAR(255) DEFAULT null,
        response TEXT DEFAULT null,
        is_active BOOLEAN NOT NULL,
        match_type VARCHAR(16) NOT NULL,
        priority INTEGER NOT NULL,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL,
        deleted_at TIMESTAMP DEFAULT null
    );;

CREATE TABLE whatsapp_messages (
        id INTEGER NOT NULL,
        conversation_id INTEGER NOT NULL,
        direction VARCHAR(16) NOT NULL,
        message_type VARCHAR(32) NOT NULL,
        text_content TEXT DEFAULT null,
        provider_message_id VARCHAR(255) DEFAULT null,
        status VARCHAR(32) NOT NULL,
        message_metadata TEXT DEFAULT null,
        created_at TIMESTAMP NOT NULL
    );;

CREATE TABLE whatsapp_quick_replies (
        id INTEGER NOT NULL,
        parent_id INTEGER DEFAULT null,
        button_text VARCHAR(200) NOT NULL,
        message_text VARCHAR(500) NOT NULL,
        response_type VARCHAR(50) NOT NULL,
        display_order INTEGER NOT NULL,
        is_active BOOLEAN NOT NULL,
        created_at TIMESTAMP NOT NULL,
        updated_at TIMESTAMP NOT NULL,
        deleted_at TIMESTAMP DEFAULT null
    );;

INSERT INTO admin_settings (id, setting_key, value, updated_at) VALUES(1, 'auto_approve_enabled', 'false', '2025-12-23 20:24:13'),
(2, 'advance_payment_enabled', 'false', '2025-11-21 09:08:32'),
(3, 'advance_payment_type', 'percentage', '2025-11-21 09:08:32'),
(4, 'advance_payment_percentage', '30.0', '2025-11-21 09:08:32'),
(5, 'advance_payment_fixed_amount', '0', '2025-11-21 09:08:32'),
(6, 'refund_percentage', '40.0', '2025-11-24 10:45:06');;



Traceback (most recent call last):
  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\S
cripts\alembic.exe\__main__.py", line 7, in <module>
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\config.py", line 1022, in main
    CommandLine(prog=prog).main(argv=argv)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\config.py", line 1012, in main
    self.run_cmd(cfg, options)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\config.py", line 946, in run_cmd
    fn(
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\command.py", line 483, in upgrade
    script.run_env()
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\script\base.py", line 545, in 
run_env
    util.load_python_file(self.dir, "env.py")
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\util\pyfiles.py", line 116, in 
load_python_file
    module = load_module_py(module_id, path)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\util\pyfiles.py", line 136, in 
load_module_py
    spec.loader.exec_module(module)  # type: ignore
    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "<frozen importlib._bootstrap_external>", line 940, 
in exec_module
  File "<frozen importlib._bootstrap>", line 241, in 
_call_with_frames_removed
  File 
"C:\Users\HP\Desktop\LebrqApp\backend\alembic\env.py", line 
53, in <module>
    run_migrations_offline()
  File 
"C:\Users\HP\Desktop\LebrqApp\backend\alembic\env.py", line 
36, in run_migrations_offline
    context.run_migrations()
  File "<string>", line 8, in run_migrations
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\runtime\environment.py", line 946, 
in run_migrations
    self.get_context().run_migrations(**kw)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\runtime\migration.py", line 627, in 
run_migrations
    step.migration_fn(**kw)
  File "C:\Users\HP\Desktop\LebrqApp\backend\alembic\versions
\20251225164411_initial_schema.py", line 1190, in upgrade
    op.execute("""INSERT INTO bookings (id, 
booking_reference, series_reference, user_id, broker_id, 
venue_id, space_id, start_datetime, end_datetime, attendees, 
status, total_amount, brokerage_amount, admin_note, 
customer_note, created_at, updated_at, booking_type, 
event_type, event_name, is_admin_booking, 
transport_location, transport_amount, transport_estimate, 
banner_image_url, banner_size, banner_amount, 
stage_banner_url, broker_settled, broker_settled_at, 
broker_settled_by_user_id, admin_viewed_at) VALUES(523, 
'BK-52C7A1D960', 'SR-545CA797FA', 42, NULL, 3, 1, 
'2025-11-08 07:00:00', '2025-11-08 08:00:00', 100, 
'approved', 2000, 0, NULL, '1 Month(s) |  Zumba Class | 
Fees: daily=400, monthly=1100 | Exclude: [] | Features: 
[Zumba Certified Coach, Sound System, AC Hall, Drinking 
Water, Changing Room, Parking] | Policies: [Sports shoes 
recommended, Stay hydrated, No refunds for no-show, Follow 
safety instructions] | Image: /static/d7038a3042b4bc66.jpg', 
'2025-11-08 18:15:21', '2025-11-21 03:09:56', 'daily', ' 
Zumba Class', NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, 
NULL, 0, NULL, NULL, '2025-11-22 08:32:44'),
  File "<string>", line 8, in execute
  File "<string>", line 3, in execute
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\operations\ops.py", line 2591, in 
execute
    return operations.invoke(op)
           ^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\operations\base.py", line 441, in 
invoke
    return fn(self, operation)
           ^^^^^^^^^^^^^^^^^^^
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\operations\toimpl.py", line 240, in 
execute_sql
    operations.migration_context.impl.execute(
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\ddl\impl.py", line 253, in execute
    self._exec(sql, execution_options)
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\ddl\impl.py", line 227, in _exec
    self.static_output(
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\site-packages\alembic\ddl\impl.py", line 138, in 
static_output
    self.output_buffer.write(text + "\n\n")
  File "C:\Users\HP\AppData\Local\Programs\Python\Python311\L
ib\encodings\cp1252.py", line 19, in encode
    return 
codecs.charmap_encode(input,self.errors,encoding_table)[0]
           
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
UnicodeEncodeError: 'charmap' codec can't encode character 
'\u20b9' in position 38840: character maps to <undefined>
